In [45]:
#passo a passo
import pandas as pd
from selenium import webdriver as wd

#Passo 1: Abrir navegador
navegador = wd.Chrome()
navegador.get("https://www.google.com.br/")

In [46]:
#Passo 2:Importar base de dados
tabela = pd.read_excel("commodities.xlsx")

In [47]:
#Passo 3:pegar preço atual do produto, preencher o preço atual na base de dados.

#estrutura de repitção para capturar os valores de cada produto na ordem sequencial da coluna produtos
for linhas in tabela.index:
    produto = tabela.loc[linhas, "Produto"]
    #nesta etapa, exibimos o link e tiramos os caracteres epeciais para quando ocorrer a busca pelo link na web.
    link = (f"https://www.melhorcambio.com/{produto}-hoje")
    link = link.replace("ó", "o").replace("ã", "a").replace("ç", "c").replace("ú", "u").replace("é","e").replace("á","a")
    print(link)
    navegador.get(link)
    
    #buscar a cotação do produto e formatar o valor retornado
    cotacao = navegador.find_element("xpath", '//*[@id="comercial"]').get_attribute("value")
    #retirando a virgula e substituindo por espaço vazio e adicionando . ao valor
    cotacao = cotacao.replace(".", "").replace(",", ".")
    #formatar o valor retornado em float
    cotacao = float(cotacao)
    #printando o valor da cotação retornado e formatado
    print(cotacao)
    #função utilizada para adicionar o valor da cotacao retornada do site a base de dados.
    tabela.loc[linhas,"Preço Atual"] = cotacao
#printar a base de dados atualizada
display(tabela)

https://www.melhorcambio.com/Milho-hoje
56.04
https://www.melhorcambio.com/Soja-hoje
132.9
https://www.melhorcambio.com/Boi-hoje
263.6
https://www.melhorcambio.com/Petroleo-hoje
377.8
https://www.melhorcambio.com/Algodao-hoje
398.5
https://www.melhorcambio.com/Acucar-hoje
150.31
https://www.melhorcambio.com/Cafe-hoje
1057.64
https://www.melhorcambio.com/Ouro-hoje
318.14
https://www.melhorcambio.com/Tilapia-hoje
9.45

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        56.04      NaN
1      Soja       163.59       132.90      NaN
2       Boi       282.20       263.60      NaN
3  Petróleo       424.37       377.80      NaN
4   Algodão       497.76       398.50      NaN
5    Açúcar       136.23       150.31      NaN
6      Café      1092.87      1057.64      NaN
7      Ouro       321.77       318.14      NaN
8   Tilápia         9.05         9.45      NaN

In [48]:
#Passo 4:decidir quais produtos iremos comprar
tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        56.04     True
1      Soja       163.59       132.90     True
2       Boi       282.20       263.60     True
3  Petróleo       424.37       377.80     True
4   Algodão       497.76       398.50     True
5    Açúcar       136.23       150.31    False
6      Café      1092.87      1057.64     True
7      Ouro       321.77       318.14     True
8   Tilápia         9.05         9.45    False

In [49]:
navegador.quit()

In [55]:
#Passo 5:exportar a base de dados atualizada
tabela.to_excel("Automacao-web.xlsx", index=False)